html *
{
    box-sizing: border-box;
    margin: 0; /*browser defaults for margins are all stupid.*/
}

:root
{
    font-size: 1.25em;
}

a
{
    color: #ffff00;
}

a:visited
{
    color: #A0522D;
}

.centered
{
    text-align: center;
}

.container
{
    background: #000;
    background: url('../images/tau-landscape-darker-smaller.jpg');
    background-position: bottom right;
    background-size: cover;
    color: #fff;
    height: 100vh;
    overflow: auto;
    padding: 1em;
}

.dark-cloud
{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.photo
{
    border-color: #A0522D;
    border-radius: 1em;
    border-style: solid;
    border-width: .5em;
    max-width: 20cm;
    width: 100%;
}
